<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  This is the <%= (yield(:title)) %> page for the rails tutorial sample application.
</p>
<p>
  I hope the next chapter details how to add kittens to the view.
</p>

